h1 {
    border: 1px solid black;
    border-radius: 1rem;
    background-color: rgb(171, 209, 235);
}

h1,
.listItems,
.searchBar {
    text-align: center;
}

.listItems {
    margin: 15px;
}

.list-group-item {
    background-color: rgb(171, 209, 235);
    margin-bottom: 15px;
}

.btn {
    margin: 15px;
}